<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Control Panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	{% include "nav.html" %}
	<div class="container">
		<h1>Welcome, {{user[1]}}!</h1>
		{% if user[3] == "" and not error == "1" %}
		<div class="alert alert-warning">
			<p>
				<strong>Info:</strong>
				Your account isn't linked to your Philips Hue.<br/>
				Link your account to start controlling your lights.<br/>
			</p>
		</div>
		{% endif %}
		{% if error == "1" %}
		<div class="alert alert-danger">
			<p>
				<strong>Error:</strong>
				An error occured while linking your account to Philips Hue.<br/>
				Please try again, and if it keeps failing, create a <a href="https://github.com/dnorhoj/HueFlaskSystem/issues", target="_blank">new issue</a>.<br/>
			</p>
		</div>
		{% endif %}
		{% if user[3] == "" %}
		<a href="{{ url }}" class="btn btn-success">Link to Philips Hue</a>
		{% endif %}
	</div>
</body>
</html>