<!DOCTYPE html>
<html>
<head>
	{% set title = 'Controlpanel'  %}
	{% include "header.html" %}
</head>
<body>
	{% include "nav.html" %}
	<div class="container">
		<h1>Control Panel</h1>
		{% if data == false and not error == "1" %}
		<div class="alert alert-warning">
			<p>
				<strong>Info:</strong>
				Your account isn't linked to your Philips Hue.<br/>
				Link your account to start controlling your lights.<br/>
			</p>
		</div>
		{% elif error == "1" %}
		<div class="alert alert-danger">
			<p>
				<strong>Error:</strong>
				An error occured while linking your account to Philips Hue.<br/>
				Please try again, and if it keeps failing, create a <a href="https://github.com/dnorhoj/HueFlaskSystem/issues", target="_blank">new issue</a>.<br/>
			</p>
		</div>
		{% endif %}
		{% if data == false %}
		<a href="{{ url }}" class="btn btn-success">Link to Philips Hue</a>
		{% endif %}
		{% if data is mapping %}
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th scope="col" style="width:1%;">#</th>
					<th scope="col">Hue Light</th>
					<th scope="col">State</th>
				</tr>
			</thead>
			<tbody>
				{% for key, val in data.items() %}
				<tr>
					<td scope="row"><strong>{{ key }}</strong></td>
					<td>{{val['name']}}</td>
					<td>
						{% if val['state']['reachable'] == false %}
						Unreachable: 
						{% endif %}
						{% if val['state']['on'] == true %}
						On
						{% else %}
						Off
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</body>
</html>